[submodule "build/yapre"]
	path = build/yapre
	url = git@github.com:wo1fsea/yapre.git
[submodule "build/doxygen-awesome-css"]
	path = build/doxygen-awesome-css
	url = ../../jothepro/doxygen-awesome-css.git
